body {
  background-color: #d2e2fc;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: light;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-photo {
  width=208px;
  height=200px;
  align: center;
}
