body {
  background-color: #d2e2fc;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 200;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 11px;
}

p {
  font-size: 14px;
}
