body {
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-weight: 300;
    font-size: 4em;
}

h3 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
}

.light-header {
    font-weight: 200;
    font-size: 2.5em;
}

.spacer {
    height: 20px;
}

.special-elite {
    font-family: 'Special Elite';
}
.courier-prime {
    font-family: 'Courier Prime';
}
.nanum-gothic-coding {
    font-family: 'Nanum Gothic Coding';
}
.roboto-mono {
    font-family: 'Roboto Mono';
}
.pt-mono {
    font-family: 'PT Mono';
}
.roboto-condensed-light {
    font-family: 'Roboto Condensed';
}
.new-rocker {
    font-family: 'New Rocker';
}
.xanh-mono {
    font-family: 'Xanh Mono';
}
.eagle-lake {
    font-family: 'Eagle Lake';
}
.unifraktur-maguntia {
    font-family: 'UnifrakturMaguntia';
}